<style>
        /*对应的css 代码*/
        /*修改的是文件上传的按钮的样式*/
    .input_style_file_upload {
        padding: 4px 10px;
        height: 20px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        color: #888;
        background: #fafafa;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        display: inline-block;
        display: inline;
        zoom: 1;
    }
    .input_style_file_upload  input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }
    .input_style_file_upload:hover {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }
</style>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    添加音乐
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加音乐</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="recipient-name" class="control-label">选择分类</label>
            <select class="form-control" ng-model="mscCategory">
                <option value="{{item.categoryId}}" ng-repeat="item in category.rows">{{item.categoryName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">歌曲名</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="请添加歌曲名" ng-model="mscMusic">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">歌手</label>
            <input type="text" class="form-control" placeholder="请添加歌手名" ng-model="mscAuthor">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">选择歌手图片</label>
            <div class="fileuploadClass">
                <a href="javascript:;" class="input_style_file_upload">
                    请选择作者图片
                    <input type="file" id="input_file_imgaeId" name="author" data-url="../api/music/authorUpload.php" >
                </a>
            </div>
            <br>
            <div class="imageShow" style="display: none;">
                <img src="" alt="" width="100">
            </div>           
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">请上传歌曲</label>
            <div class="fileuploadClass">
                <a href="javascript:;" class="input_style_file_upload">
                    请选择音频
                    <input type="file" id="input_file_musicId" name="music" data-url="../api/music/musicUpload.php">
                </a>
                <span class="imageUrl"></span>
            </div>          
        </div>        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default save-close" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="saveMusic()">保存</button>
    </div>
    </div>
</div>
</div>

<table class="table table-bordered">
    <tr>
        <td>序号</td>
        <td>音乐标题</td>
        <td>歌手</td>
        <td>歌手照片</td>
        <td>所属分类</td>
    </tr>
    <tr ng-repeat="item in musicList.rows">
        <td>{{$index+1}}</td>
        <td>{{item.musicName}}</td>
        <td>{{item.authorName}}</td>
        <td><img src="../{{item.authorUrl}}" alt="" width="100px"></td>
        <td>{{item.categoryName}}</td>        
    </tr>
</table>